<div class="card" id="<%= dom_id(workspace) %>">
  <div class="card-header d-flex justify-content-between">
    <h5 class="card-title">
      <%= link_to workspace.title, workspace %>
    </h5>
    <div class="dropdown">
      <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
        <li>
          <%= link_to 'Edit',
                      edit_workspace_path(workspace),
                      class: 'dropdown-item',
                      data: { turbo_frame: 'remote_modal' } %>
        </li>
        <li>
          <%= button_to 'Remove',
                        workspace_path(workspace),
                        method: :delete,
                        class: 'dropdown-item' %>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-footer">
   <p>Criado em <%= l workspace.created_at, format: :short %></p>
  </div>
</div>