<%= form_with(model: [workspace, board, card]) do |form| %>
<div class="form-group">
    <% if card.errors.any? %>
      <ul class="list-group">
        <% card.errors.full_messages.each do |message| %>
          <li class="list-group-item"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <%= form.hidden_field :board_id %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', rows: 5 %>
  </div>

  <div class="d-flex justify-content-between mt-5">
    <%= form.submit nil, class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Cancel', '#', data: { action: 'click->modal#hideBeforeRender'}, class: 'btn btn-sm btn-danger' %>
  </div>
<% end %>