<!DOCTYPE html>
<html>
  <head>
    <title>Kamban</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="toasts" class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    </div>
    <header>
      <%= render 'shared/navbar' %>
    </header>

    <main>
      <%= turbo_frame_tag :remote_modal %>
      <%= yield %>
    </main>
  </body>
</html>
